body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Zen Kurenaido', sans-serif;
    border: solid 3px orange;
}

#user-form {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

#characters {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

button {
    margin: 20px; 
    background-color: orange;
    border: 1px solid orangered; 
    font-family: 'Zen Kurenaido', sans-serif;
    color: white;
}

img {
    border: solid 3px orange; 
}